.frontend {
  @extend %section;
  @extend %section-flex-common;
  background-color: $color-white;
  background-image: url(../img/fe-logo.png);
  background-repeat: no-repeat;
  background-position: -10% -10%;
  background-size: 75%;
  text-shadow: 5px 5px 10px $color-white, 0 0 30px $color-white;

  &__overlay {
    background: linear-gradient(
      135deg,
      rgba($color-white, 0.4) 50%,
      rgba($color-orange-2, 0.4) 100%
    );

    @include abs-position;
  }

  &__content {
    position: relative;
    z-index: 1;

    color: $color-blue-5;
  }

  &__title {
    @extend %section-title;

    & span {
      font-size: 0.8em;
      font-style: normal;
    }
  }

  &__subtitle {
    padding-left: 300px;
    @include section-subtitle($color-blue-5);
    &::after {
      display: none;
    }
  }

  &__description {
    padding-left: 270px;
    transform: translateY(40px);
    @extend %section-description;
  }
}
