.html {
  @extend %section;
  @extend %section-flex-common;
  background-color: $color-blue-5;
  background-image: url(../img/html5.jpg);
  background-position: 50% 50%;
  background-size: cover;

  &__overlay {
    //opacity: 0.9;
    background: linear-gradient(
      135deg,
      rgba($color-blue-3, 0.75) 0%,
      rgba(darken($color-blue-5, 7%), 0.9) 30%,
      rgba(darken($color-blue-5, 15%), 0.9) 100%
    );
    @include abs-position;
  }

  &__content {
    position: relative;
  }

  &__title {
    @extend %section-title;
  }

  &__subtitle {
    @include section-subtitle;
  }

  &__flex {
    @extend %section-flex;
  }
  &__flex-logo img {
    @extend %section-logo;
  }
  &__flex-description {
    @extend %section-description;
  }
}
