@mixin unlist($m: 0, $p: 0) {
  margin: $m;
  padding: $p;

  list-style: none;
}

@mixin abs-position($top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin section-subtitle($color: $color-white) {
  position: relative;
  margin: 0 0 3em;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.25em;

  span {
    white-space: nowrap;
  }

  b {
    font-weight: 700;
  }

  &::after {
    position: absolute;
    bottom: -1em;
    left: 50%;
    width: 20%;
    height: 3px;
    content: '';
    transform: translateX(-50%);
    background-color: $color;
  }
}
