$color-white: #ffffff;
$color-black: #000000;

$color-primary-1: #d53d27;
$color-primary-2: #ff9180;
$color-primary-3: #e66450;
$color-primary-4: #aa2713;
$color-primary-5: #831200;

$color-orange-1: #d57f27;
$color-orange-2: #ffc080;
$color-orange-3: #e69c50;
$color-orange-4: #aa5f13;
$color-orange-5: #834200;

$color-blue-1: #1c6d84;
$color-blue-2: #5796a7;
$color-blue-3: #357b8f;
$color-blue-4: #0f566a;
$color-blue-5: #034052;
